body {
    color: #747704;
    font-weight: 300;
}

img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
} 

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}


.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}